footer{
    width: 100vw;
    height: 6vh;
    position:fixed;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color:#1d2d44; 
    box-shadow: 0 0 1.5em #121212;
    color: white;
}